@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: "roboto","nunito sans","Helvetica", "sans-serif";  
}

h1,h2,h3,h4{
    font-weight:400;
}


/*-- header Mobile--------------------------------------------------------------------------------*/

header {
    padding: 0 11.8vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 64px;  
    max-width: 1440px;
    width: 100%;  
    margin: 0 auto;
    
}

header .btn-mobile {
    width: 24px;
    height: 24px;
    font-size: 24px;
    border: none;
    background-color: #E5E5E5;
    color: rgba(73, 69, 79, 1);
    position: absolute;
    right: 16px;
}

.nav-bar-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.432); 
    height: 100vh;
    display: flex;
    justify-content: right;
}

.hidden {
    display: none;
}

.mobile-open{
    width: 50vw;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;  
    gap: 25px;
    padding-top: 100px ;
    padding-left: 25px;
    padding-right: 20px;
}

.mobile-open  a {
    color: rgba(73, 69, 79, 1);
    text-decoration: none;   
    border-bottom: 1px solid  rgba(83, 83, 83, 0.5);
    padding-bottom: 5px;
    font-weight: 500;
}

.nav-bar a {
    transition: background-color 0.3s ease;
}
nav a:hover {
    color:#072AC8;
}
nav a:active {
    color: #072AC8;
}

.btn-primario {
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 52px;
    font-size: 17px;
    background-color: #072AC8;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
}

.nav-bar , .btn-contact {
    display: none;
}

/*-- Section 1 / Hero Mobile------------------------------------------------------------*/

.contenedor-hero {
    padding: 0 4.35%; 
}

.hero {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.tarjeta-hero {
    width: 61%;
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hero {
    display: flex;
    justify-content: space-between;
}

.btn-secundario {
    border: none;
    background-color: #E5E5E5;
    font-size: 17px;
    font-weight: 600;
    color: #6B708D;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #292E47;
    text-align: center;   
}

.parrafo {
    color: #6B708D;
    font-size: 17px;
    text-align: center;
    line-height: 25.5px;   
}


/*-- Section 2 / logos --------------------------------------------------------*/
    /* Section logos en mobile apagada*/

/*-- Section 3 / Projects Mobile----------------------------------------------------------*/
.cards-projects {
    display: flex;  
    flex-direction: row;     
    align-items: center;
    text-align: center;      
    gap: 25px;    
}

.cards-projects img {
    width: 50px; 
    height: 50px; 
    overflow: hidden;
    border-radius: 50%;    
}

.cards-projects {
    overflow-x: scroll;
    width: 100%;
    padding: 10px;  
    gap: 10px;  
    padding-bottom: 40px;  
}

.card-hijo { 
    flex-shrink: 0;
    width: 180px;
}

.cards-projects {
    display: flex;
    flex-direction: row;
}

.title h2 {
    margin-left: 15px;
    margin-top: 40px;    
    margin-bottom: 20px;      
    font-size: 30px; 
    color:rgba(41, 46, 71, 1);
    font-weight: 600;  
    margin-left: 15px; 
}

.contenedor-projects p {
    font-size: 17px;    
}

.cards-projects h3 {
    padding: 10px 10px;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: #292E47;
    justify-self: flex-start;      
}

/*-- Section 4 / stickers Mobile----------------------------------------------------------*/

.second-column-web {
    background-color: #292E47;      
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.profile-reviewed-web {
    display: flex;
    flex-direction: column;
}

.five {
    width: 50px; 
    height: 50px; 
    overflow: hidden;
    border-radius: 50%;      
}

.second-column-web h3 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center; 
    padding: 16px 52px 0px 52px;
}

.second-column-web p {
    color: #FFC600;
    font-size: 18px;
    padding: 25px 46px 0 46px;
    text-align: center; 
}

.second-column-web .profile-reviewed-web {
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.info-reviews-web, .span-one {
    color: #A2D6F9; 
    
}

.info-reviews-web, .span-two {
    color: white; 
}

.profile-reviewed-web {
    padding-top:45px;
    padding-bottom: 13px;   
}

.info-reviews-web span{
padding-left: 10px;
}


/*-- Section 5 / services Mobile---------------------------------------------------*/
.contenedor-services img { 
    border-radius: 50%;
    background-color: rgba(236, 247, 255, 1);
    width: 60px;
    height: 60px;
    object-fit: scale-down;
    border-radius: 50%;  
    display: flex;   
}

.card-one, .card-two , .card-three {
    display: flex;      
    align-items: start;
    justify-content: start;
    padding: 5px;   
    padding-top: 20px;   
}

.contenedor-services article {
    background-color: white;
    margin: 15px;
}

.contenedor-services h2 {
    margin-top: 25px;    
    margin-bottom: 25px;
    font-size: 30px; 
    color:rgba(41, 46, 71, 1);
    font-weight: 600;  
    margin-left: 15px;
}

.contenedor-services {
    display: flex;   
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px; 
    justify-content: center;
}

.contenedor-services p {
    font-size: 18px;    
    margin: 15px;
}

.contenedor-services h2 {  
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: #292E47; 
    padding: 0; 
    padding-left: 15px;       
}

.cards {
    display: flex;
    flex-direction: column; 
}

.card-individual a {
    font-size: 17px;
    margin: 15px;
    text-decoration: none;    
}

/*-- Section 6 / questions---------------------------------------------------*/   
.contenedor-questions {
    background-color:rgba(255, 198, 0, 1);   
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    gap: 35px;   
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.text h3 {
    padding: 10px 10px;
    font-weight: 600;
    color: #292E47;
    font-size: 30px;    
    text-align: center; 
    padding-bottom: 25px; 
}

.text p {
    font-size: 20px;
    font-weight: 400;
    color: #292E47;
    text-align: center; 
    padding-bottom: 25px;    
}

.input .input-email {
    width: 320px;
    height:52px ;
    padding-left:10px ;
    border: none;
    padding-left: 70px;
}

.input-email {          
    background-size: 25px;  
    color: rgba(41, 46, 71, 1);
    width: 10px;
    height: 10px;
    padding-left: 15px;        
}

.input img {    
    position: absolute;
    padding-left: 20px;     
}

.icono {
    position: relative;
    display: flex;
    align-items: center;    
}

.btn-question{
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 52px;
    font-size: 17px;
    background-color: #072AC8;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;    
}

/*-- Section 7 / information-------------------------------------------------*/

.information-mobile  {
    background-color: #E5E5E5;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px; 
    padding-top: 20px; 
}

.direction-mobile {
    color: #6B708D;
    font-size: 13px;
    text-align: center;
}

/*-- Medias Query web ------------------------------------------------------------*/

.contenedor-logo {
    display: none;
}

.contenedor-projects-web {
    display: none;
}

.one, .two, .three, .four {
    display: none;
}

.information-web {
    display: none;
}

@media screen and (min-width: 1000px){


    .btn-mobile {
        display: none;
    }

 /*    .back-header {
        max-width: 1440px;
        width: 100%;
        background-color: #c72e2e;
        display: flex;
    } */

    header {
        display: flex;
        padding: 0 ;
        justify-content: space-between;         
        align-items: end;
        height: 100px;
        position: sticky;
        top: 0;
        background-color: #E5E5E5;    
        z-index: 50;  
        width: 100%;
        max-width: 1100px;
    }

    .icon-contenedor {
        align-items: center;
        height: 60px;
        display: flex;
    }
    .nav-bar a {
        font-size: 17px;
        color: rgba(107, 112, 141, 1);
        font-weight: 500;
        text-decoration: none;    
    } 

    .nav-bar a {
        transition: background-color 0.3s ease;
    }
    nav a:hover {
        color:#072AC8;
    }
    nav a:active {
        color: #072AC8;
    }
    
    .nav-bar{
        gap: 60px;   
        display: flex; 
        height: 60px;
        align-items: center;
    }

    .btn-contact{
        display: flex;
    }    


    .contenedor-hero {
        display: flex;
        padding: 0 ;       
        align-items: center;
        padding-top: 50px;
    }
    
    .imagenes {
        flex: 1;
    }    

    .tarjeta-hero{
        width: 100%;
    }
    
    /*-- Section 1 / hero----------------------------------------*/
    .hero {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;        
    }
    
    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
    }
    
    .parrafo {
        color: #6B708D;
        font-size: 20px;
    }
    
    .btn-hero {
        display: flex;
        gap: 40px;   
    }
    
    .btn-secundario {
        width: 150px;
        height: 52px;
        font-size: 17px;
        border: none;
        background-color: #E5E5E5; 
        font-weight: 600;
        color:  #6B708D;
    }

    .tarjeta-hero{
        width: 100%;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;
    }

    .desktop-hidden {
        display: none;
    }

    .img-desktop {        
        flex: 1;               
        position: relative; 
        display: block;        
    }  

    .img-desktop .tarjeta-uno {
        width: 390px;
        height: auto;
        position: absolute;
        top: -10px;
        left: -110px;
    }
    
    .img-desktop .tarjeta-dos {
        width: 370px;
        height: auto;
        position: absolute;    
        right: -120px;
        top: 400px;
    }
    
    .contenedor-hero {
        display: flex;
        padding: 0 ;
        max-width: 1100px;
        width: 100%;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 130px;
        margin: 0 auto;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;
    }

    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
        text-align: left;
    }

    .parrafo {
        color: #6B708D;
        font-size: 20px;
        text-align: left;
    }   
    

    /*-- Section 2 / logos ----------------------------------------------*/
    .contenedor-logo {
        display: flex;
        max-width: 1440px;
        width: 100%;
        height: 100px;
        align-items: center;
        background-color: #E5E5E5; 
        margin: 0 auto;
        padding-left: 170px;
        padding-right: 170px;
    }

    .img-logos {
        display: flex;
        justify-content: space-between;  
        width: 100%;  
        filter: grayscale(100%);
    }

    .img-logos img {
        max-width: 100%;  
    }

    /*--Section 3 / Projects Web ------------------------------------*/

    .contenedor-projects {
        display: none;
    }

    .contenedor-projects-web {
        display: flex;
        flex-direction: column;         
        max-width: 1100px;
        padding-top: 200px;
        width: 100%;
        align-items:flex-start;
        align-content: center;  
        margin: 0 auto;  
        padding-bottom: 200px;
    }

    .contenedor-projects-web h3 {
        color: #292E47;
        font-size: 40px;
        padding-bottom: 70px;
        line-height: 46.88px;    
        font-weight: 600; 
    }

    .cards-projects-web {
        display: flex;
        width: 100%;
        justify-content: space-between;   
        gap: 20px;
        row-gap: 40px;
        flex-wrap: wrap;  
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 340px;
        height: 444px;
        box-shadow: 10px 10px 64px -16px rgba(0,0,0,0.44);
    }

    .card img {
        height: 240px;
        width: 100%;
        max-width: 340px;  
    }

    .white-background {
        background-color: white;
        padding-left: 30px;
        height: 204px;
        width: 100%;
        max-width: 340px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .white-background h4 {
        font-size: 24px;
        font-weight: 500;
        color: #292E47;
    }

    .white-background p {
        font-size: 17px;
        color: #6B708D;
        position: relative;
        bottom: 20px;
    }

    .white-background a {
        color: #072AC8;
        text-decoration: none;   
        font-size: 17px;
        background-color: transparent;    
    }

    .contenedor-projects {
        display: none;
    }

    /*-- Section 4 / stickers------------------------------------*/

    .contenedor-reviews-web { 
        background-image:url("../assets/testimonial-section/orbit.png" );  
        background-repeat: no-repeat; 
        background-position: center;   
        background-color:  #292E47;   
        background-size: contain;
        display: flex;
        max-width: 1320px;
        width: 100%;
        height: 622px;
        justify-content: center;  
        padding: 51px 68px 73px 67px;
        margin: 0 auto 100px auto;
    }

    .contenedor-reviews-web > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .contenedor-reviews-web .second-column-web {
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .one, .two , .three ,.four {
        display: inline-block;
    }

    .contenedor-reviews-web .second-column-web .profile-reviewed-web {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .contenedor-reviews-web > div:last-of-type {
        align-items: flex-end;
    }

    .contenedor-reviews-web h3 {
        font-size: 37px;
        font-weight: bold;
        color: white;
        text-align: center;     
    }

    .second-column-web p {
        color: #FFC600;
        font-size: 23px;    
        text-align: center; 
        padding-top: 70px;    
    }

    .profile-reviewed-web .five {
        width: 50px; 
        height: 50px; 
        overflow: hidden;
        border-radius: 50%;  
    }

    .profile-reviewed-web {
        padding-top: 105px;
    }

    .info-reviews-web, .span-one {
        color: #A2D6F9;    
    } 

    .info-reviews-web, .span-two {
        color: white;     
    }

    .contenedor-reviews-web img {
        width: 50%;    
    }  

    /*-- Section 5 / services -------------------------------------------*/
    .contenedor-services {
        display: flex;
        flex-direction: column;    
        padding: 0 ;
        max-width: 1100px;
        margin: 0 auto;
        align-items:flex-start;
        align-content: center;    
        padding-bottom: 100px; 
        padding-top: 100px;
        gap: 40px;
    }

    .card-services {
        display: flex;
        width: 100%;
        justify-content: space-between;  
    }

    .card-services img {
        background-color: rgba(236, 247, 255, 1);
        width: 80px;
        height: 80px;
        object-fit: scale-down;
        border-radius: 50%;    
    }

    .contenedor-services h2 {
        font-size: 40px; 
        color:rgba(41, 46, 71, 1);
        font-weight: 600;   
    }

    .contenedor-services img {
        height: 40px;
        width: 40px;  
    }

    .card-services img {
        background-color: rgba(236, 247, 255, 1);
        width: 80px;
        height: 80px;
        object-fit: scale-down;
        border-radius: 50%;    
    }

    .contenedor-services h3 {
        font-size: 24px; 
        color: rgba(41, 46, 71, 1);       
        font-weight: 500;
        padding-top: 30px;
    }

    .contenedor-services p {
        font-size: 20px; 
        position: relative;    
        color: rgba(107, 112, 141, 1);     
    }

    .contenedor-services a {
        color: #072AC8;
        text-decoration: none;   
        font-size: 17px;
        background-color: transparent;      
    }

    .card-individual {
        display: flex;
        flex-direction: column;   
        max-width: 340px;
        width: 100%;
        height: 380px;      
        background-color: white;
        padding: 0px 30px;  
        justify-content: space-evenly;
        box-shadow: 10px 10px 64px -16px rgba(0,0,0,0.44);
    }

    .card-one, .card-two , .card-three {
        display: flex;   
        flex-direction: column;       
    }

    /*-- Section 6 / questions web ---------------------------------------*/

    .contenedor-questions {
        background-color:rgba(255, 198, 0, 1);   
        display: flex;
        flex-direction: column;    
        gap: 35px;   
        width: 100%;
        max-width: 1320px;
        height: 500px;
        margin: 0 auto;   
        margin-top: 100px;
    }

    .input {
        display: flex;   
        flex-direction: row;
        gap: 20px;   
        padding-bottom: 137px;
        padding-top: 50px;
    }

    .text h3 {
        padding: 10px 10px;
        font-weight: 600;
        color: #292E47;
        font-size: 40px;    
        text-align: center; 
        padding-bottom: 25px; 
        padding-top: 136px;
    }

    .text p {
        font-size: 20px;
        font-weight: 400;
        color: #292E47;
        text-align: center; 
        padding-bottom: 25px;    
    }

    .input .input-email {
        width: 393px;
        height: 80px;
        padding-left:10px;
        border: none;
        padding-left: 70px;
    }

    .input-email {          
        background-size: 25px;  
        color: rgba(41, 46, 71, 1);
        width: 10px;
        height: 10px;
        padding-left: 15px;   
        font-size: 17px;     
    }

    .input img {    
        position: absolute;
        padding-left: 20px;  
    }

    .icono {
        position: relative;
        display: flex;
        align-items: center;        
    }

    .btn-question{
        display: flex;
        text-decoration: none;
        width: 198px;
        height: 80px;
        font-size: 17px;
        background-color: #072AC8;
        font-weight: 500;
        color: white;
        align-items: center;
        justify-content: center;
        border: none;        
    }

    /*-- Section 7 / information web -------------------------------------------------*/

    .information-web {
        background-color: #E5E5E5;
        width: 100%;
        max-width: 1100px;
        height: 242px;  
        display: flex; 
        margin: 0 auto;   
        padding: 0 ;
        justify-content: space-between;     
        padding-top: 220px;
        align-items: center;  
        padding-bottom: 150px;  
    }

    .direction-web {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #6B708D;
        font-size: 17px;    
    }

    .items {
        display: flex;   
        flex-direction: column; 
        text-decoration: none;   
    }

    .items a {
        text-decoration: none;
        color: #6B708D;
        font-size: 17px;
        padding-left: 100px;    
    }

    .items-firts-line , .items-second-line {
        padding: 20px;
    }

    .information-mobile {
        display: none;
    }
}


