@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: "roboto","nunito sans","Helvetica", "sans-serif";  
}

h1,h2,h3,h4{
    font-weight:400;
}


/*--header--------------------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

header .btn-mobile {
    width: 24px;
    height: 24px;
    font-size: 24px;
    border: none;
    background-color: #E5E5E5;
    color: rgba(73, 69, 79, 1);
    position: absolute;
    right: 16px;
}

.nav-bar-background {
    position: fixed; /* dar lugar de inicio*/
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.432); 
    height: 100vh;
    display: flex;
    justify-content: right;
}

.hidden{
    display: none;
}

.mobile-open{
    width: 50vw;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;  
    gap: 25px;
    padding-top: 100px ;
    padding-left: 25px;
    padding-right: 20px;
}

.mobile-open  a {
    color: rgba(73, 69, 79, 1);
    text-decoration: none;   
    border-bottom: 1px solid  rgba(83, 83, 83, 0.5);
    padding-bottom: 5px;
}

.btn-primario {
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 52px;
    font-size: 17px;
    background-color: #072AC8;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
}

.nav-bar , .btn-contact{
    display: none;
}


/*-- Section / Hero ------------------------------------------------------------*/

.contenedor-hero {
  padding: 0 4.35%;
 
}

.hero {
    display: flex;
    gap: 25px;
    flex-direction: column;

}

.tarjeta-hero{
    width: 61%;

}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hero {
    display: flex;
    justify-content: space-between;
}

.btn-secundario {
    border: none;
    background-color: #E5E5E5;
    font-size: 17px;
    font-weight: 600;
    color: #6B708D;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #292E47;
    text-align: center;   
}

.parrafo {
    color: #6B708D;
    font-size: 17px;
    text-align: center;
    line-height: 25.5px;   
}

/*-- Section 2 / Projects ----------------------------------------------------------*/
.cards-projects {
    display: flex;  
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-right: 30px;  
}

.cards-projects img {
    width: 50px; 
    height: 50px; 
    overflow: hidden;
    border-radius: 50%; 
}

.cards-projects {
    display: flex;
    flex-direction: row;
}

.title h2 {
    margin-left: 15px;
    margin-top: 40px;    
    margin-bottom: 20px;      
    font-size: 30px; 
    color:rgba(41, 46, 71, 1);
    font-weight: 600;  
    margin-left: 15px; 
}

.contenedor-projects p {
    font-size: 17px;    
}

.cards-projects h3 {
    padding: 10px 10px;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: #292E47;
    justify-self: flex-start;      
}



/*-- Section 3 / stickers ----------------------------------------------------------*/

.second-column {
    background-color: #292E47;      
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.profile-reviewed{
    display: flex;
    flex-direction: column;
}

.five {
    width: 50px; 
    height: 50px; 
    overflow: hidden;
    border-radius: 50%;      
}

.second-column h3 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center; 
    padding: 16px 52px 0px 52px;
}

.second-column p {
    color: #FFC600;
    font-size: 18px;
    padding: 25px 46px 0 46px;
    text-align: center; 
}

.second-column .profile-reviewed  {
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.info-reviews, .span-one {
    color: #A2D6F9; 
    
}

.info-reviews, .span-two {
    color: white; 
    
}

.profile-reviewed {
   padding-top:45px  ;
   padding-bottom: 13px;   
}

.info-reviews span{
padding-left: 10px;
}


/*-- Section 4 / services ---------------------------------------------------*/
.contenedor-services img { 
    border-radius: 50%;
    background-color: rgba(236, 247, 255, 1);
    width: 60px;
    height: 60px;
    object-fit: scale-down;
    border-radius: 50%;  
    display: flex;   
}

.card-one, .card-two , .card-three {
    display: flex;      
    align-items: start;
    justify-content: start;
    padding: 5px;   
    padding-top: 20px;   
 
}

.contenedor-services article {
    background-color: white;
    margin: 15px;

}

.contenedor-services h2 {
    margin-top: 25px;    
    margin-bottom: 25px;
    font-size: 30px; 
    color:rgba(41, 46, 71, 1);
    font-weight: 600;  
    margin-left: 15px;
}

.contenedor-services {
    display: flex;    
    padding-top: 40px;
    padding-bottom: 40px; 
    justify-content: center;

}

.contenedor-services p {
    font-size: 18px;    
    margin: 15px;
}


.all-cards h3 {  
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: #292E47; 
    padding: 0; 
    padding-left: 15px;       
}

.cards {
    display: flex;
    flex-direction: column; 
}

.cards a {
    font-size: 17px;
    margin: 15px;
    text-decoration: none;    
}

/*-- Section 5 / questions---------------------------------------------------*/   
.contenedor-questions {
    background-color:rgba(255, 198, 0, 1);   
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    gap: 35px;   
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.text h3 {
    padding: 10px 10px;
    font-weight: 600;
    color: #292E47;
    font-size: 30px;    
    text-align: center; 
    padding-bottom: 25px; 
}

.text p {
    font-size: 20px;
    font-weight: 400;
    color: #292E47;
    text-align: center; 
    padding-bottom: 25px;    
}

.input .input-email {
    width: 320px;
    height:52px ;
    padding-left:10px ;
    border: none;
}

.btn-question{
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 52px;
    font-size: 17px;
    background-color: #072AC8;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;    
}

/*-- Section 6 / information-------------------------------------------------*/

.information  {
    background-color: #E5E5E5;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px; 
    padding-top: 20px; 

}

.direction {
    color: #6B708D;
    font-size: 13px;
    text-align: center;
}


/*-- Medias Query ------------------------------------------------------------*/

@media screen and (min-width: 1000px){
    .btn-mobile {
        display: none;
    }
    header {
        display: flex;
        padding: 0 11.80%;
        justify-content: space-between;     
        padding-top: 70px;
        align-items: center;
    }
    .nav-bar a {
        font-size: 17px;
        color: rgba(107, 112, 141, 1);
        font-weight: 500;
        text-decoration: none;    
    } 
    
    .nav-bar{
        gap: 60px;   
        display: flex; 
    }

    .btn-contact{
        display: flex;
    }    

    .contenedor-hero {
        display: flex;
        padding: 0 11.80%;
        align-items: center;
        padding-top: 50px;
    }
    
    .imagenes {
        flex: 1;
    }
    
    .tarjeta-hero{
        width: 100%;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;
        
    }
    
    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
    }
    
    .parrafo {
        color: #6B708D;
        font-size: 20px;
    }
    
    .btn-hero {
        display: flex;
        gap: 40px;   
    }
    
    .btn-secundario {
        width: 150px;
        height: 52px;
        font-size: 17px;
        border: none;
        background-color: #E5E5E5; 
        font-weight: 600;
        color:  #6B708D;
    }


    .desktop-hidden {
        display: none;
    }

    .img-desktop {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }  
    
    

    
}


@media screen and (min-width: 1400px){
    .tarjeta-hero-desktop {
        width: 469px;
    }
}
