@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: "roboto","nunito sans","Helvetica", "sans-serif"; 
}

h1,h2,h3,h4{
    font-weight:400;
}

/*--header--------------------------------------------------------------------------------*/
header {
    display: flex;
    padding: 0 11.80%;
    justify-content: space-between;     
    padding-top: 70px;
    align-items: center;

    position: fixed;
    top: 0;
    right: 100px;
    left: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E5E5E5;    
    z-index: 50;    
}

.nav-bar :first-child {
    color: #072AC8;
}

.nav-bar a {
    font-size: 17px;
    color: rgba(107, 112, 141, 1);
    font-weight: 500;
    text-decoration: none;    
} 

.nav-bar{
    gap: 60px;   
    display: flex;
    
}

.btn-primario {
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 52px;
    font-size: 17px;
    background-color: #072AC8;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
}

/*--Section 1 / hero -------------------------------------------------------------------*/

.contenedor-hero {
    display: flex;
    padding: 0 11.80%;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 130px;
}

.imagenes .tarjeta-uno {
    width: 390px;
    height: auto;
    position: absolute;
    top: -10px;
    left: -110px;
}

.imagenes .tarjeta-dos {
    width: 370px;
    height: auto;
    position: absolute;    
    right: -120px;
    top: 400px;
}

.imagenes {
    flex: 1;
    position: relative;
}

.tarjeta-hero{
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #292E47;
}

.parrafo {
    color: #6B708D;
    font-size: 20px;
}

.btn-hero {
    display: flex;
    gap: 40px;  
    align-items: center; 
}

.btn-secundario {
    font-size: 17px;
    font-weight: 600;
    color:  #6B708D;
    text-decoration: none;
}


/*-- Section 2 / logos---------------------------------------------------*/

.contenedor-logo {
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: #E5E5E5; 
    margin: 0 auto;
    padding-left: 170px;
    padding-right: 170px;
}

.img-logos {
    display: flex;
    justify-content: space-between;  
    width: 100%;  
    filter: grayscale(100%);
}

.img-logos img {
    max-width: 100%;  
}

/*-- Section 3 / Projects---------------------------------------------------*/

.contenedor-projects {
    display: flex;
    flex-direction: column;    
    padding: 200px 11.80%;
    align-items:flex-start;
    align-content: center;    
}

.contenedor-projects h3 {
    color: #292E47;
    font-size: 40px;
    padding-bottom: 70px;
    line-height: 46.88px;    
    font-weight: 600; 
}

.cards-projects {
    display: flex;
    width: 100%;
    justify-content: space-between;     
}

.card {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 444px;
    box-shadow: 10px 10px 64px -16px rgba(0,0,0,0.44);
}

.card img {
    height: 240px;
    width: 340px;  
}

.white-background {
    background-color: white;
    padding-left: 30px;
    height: 204px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.white-background h4 {
    font-size: 24px;
    font-weight: 500;
    color: #292E47;
}

.white-background p {
    font-size: 17px;
    color: #6B708D;
    position: relative;
    bottom: 20px;
}

.white-background a {
    color: #072AC8;
    text-decoration: none;   
    font-size: 17px;
    background-color: transparent;    
}


/*-- Section 4 / stickers---------------------------------------------------*/

.contenedor-reviews-web { 
    background-image:url("../assets/testimonial-section/orbit.png" );  
    background-repeat: no-repeat; 
    background-position: center;   
    background-color:  #292E47;   
    background-size: contain;
    display: flex;
    max-width: 1319px;
    height: 622px;
    justify-content: center;  
    padding: 51px 68px 73px 67px;
    margin: 0 auto 200px auto;
}

.contenedor-reviews-web > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contenedor-reviews-web .second-column-web {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contenedor-reviews-web .second-column-web .profile-reviewed-web {
    display: flex;
    align-items: center;
    gap: 14px;
}

.contenedor-reviews-web > div:last-of-type {
    align-items: flex-end;
}


/* texto----*/
.contenedor-reviews-web h3 {
    font-size: 37px;
    font-weight: bold;
    color: white;
    text-align: center;     
}

.second-column-web p {
    color: #FFC600;
    font-size: 23px;    
    text-align: center; 
    padding-top: 70px;    
}

.profile-reviewed-web .five {
    width: 50px; 
    height: 50px; 
    overflow: hidden;
    border-radius: 50%;  
}

.profile-reviewed-web {
    padding-top: 105px;
}

.info-reviews-web, .span-one {
    color: #A2D6F9;    
} 

.info-reviews-web, .span-two {
    color: white;     
}

.contenedor-reviews-web img {
    width: 50%;    
}  


/*-- Section 5 / services---------------------------------------------------*/

.contenedor-services { /**/
    display: flex;
    flex-direction: column;    
    padding: 0 11.80%;
    align-items:flex-start;
    align-content: center;     
}

.contenedor-services h2{ /**/
    padding-bottom: 70px;    
}

.contenedor-services img {  /**/
    height: 40px;
    width: 40px;  
}

.card-services { /**/
    display: flex;
    width: 100%;
    justify-content: space-between;  
}

.card-services img {  /**/
    background-color: rgba(236, 247, 255, 1);
    width: 80px;
    height: 80px;
    object-fit: scale-down;
    border-radius: 50%;    
}

.card-individual { /**/
    display: flex;
    flex-direction: column;   
    width: 340px;
    height: 380px;      
    background-color: white;
    padding: 0px 30px;  
    justify-content: space-evenly;
    box-shadow: 10px 10px 64px -16px rgba(0,0,0,0.44);

}


.contenedor-services h2 { /**/
    font-size: 40px; 
    color:rgba(41, 46, 71, 1);
    font-weight: 600;   
}

.contenedor-services h3 { /**/
    font-size: 24px; 
    color: rgba(41, 46, 71, 1);
    text-align: left;
   
}

.contenedor-services p { /**/
    font-size: 20px; 
    position: relative;
    bottom: 20px;
    color: rgba(107, 112, 141, 1);     
}

.contenedor-services a { /**/
    color: #072AC8;
    text-decoration: none;   
    font-size: 17px;
    background-color: transparent;  
    
}

/*-- Section 6 / questions---------------------------------------------------*/


.contenedor-questions {
    background-color:rgba(255, 198, 0, 1);   
    display: flex;
    flex-direction: column;    
    gap: 35px;   
    width: 1319px;
    height: 500px;
    margin: 0 auto;   
    margin-top: 200px;
}

.input {
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.text h3 {
    padding: 10px 10px;
    font-weight: 600;
    color: #292E47;
    font-size: 40px;    
    text-align: center; 
    padding-bottom: 25px; 
    padding-top: 136px;
}

.text p {
    font-size: 20px;
    font-weight: 400;
    color: #292E47;
    text-align: center; 
    padding-bottom: 25px;    
}

.input .input-email {
    width: 393px;
    height: 80px;
    padding-left:10px;
    border: none;
    padding-left: 70px;
}

.input-email {          
    background-size: 25px;  
    color: rgba(41, 46, 71, 1);
    width: 10px;
    height: 10px;
    padding-left: 15px;   
    font-size: 17px;     
}

.input img {    
    position: absolute;
    padding-left: 20px;   
}

.icono {
    position: relative;
    display: flex;
    align-items: center;        
}

.btn-question{
    display: flex;
    text-decoration: none;
    width: 198px;
    height: 80px;
    font-size: 17px;
    background-color: #072AC8;
    font-weight: 500;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;    
}


/*-- Section 7 / information---------------------------------------------------*/

.information-web {
    background-color: #E5E5E5;
    width: 1320px;
    height: 242px;  
    display: flex; 
    margin: 0 auto;   
    padding: 0 5%;
    justify-content: space-between;     
    padding-top: 170px;
    align-items: center;    
}

.direction-web {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.direction-web {
    color: #6B708D;
    font-size: 17px;
}

.items {
    display: flex;   
    flex-direction: column; 
    text-decoration: none;   
}

.items a {
    text-decoration: none;
    color: #6B708D;
    font-size: 17px;
    padding-left: 100px;
    
}

.items-firts-line , .items-second-line {
    padding: 20px;
    
}

